@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111C43;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111C43;
    --middleground: #0055B8;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: var(--middleground);
}

button {
  background: var(--middleground);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 10%;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1%;
}

